//Body Content

.shell {
	max-width: 940px;
	margin: 0 auto;

	@include breakpoint(tablet) {
		width: auto;
		padding: 0 10px;
	}

	@include breakpoint(mobile) {
		width: auto;
		padding: 0 10px;
	}
}

.wrap {
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
}

.logo {
	height: 40px;
	padding: 20px;
	text-align: right;
}

.countdown {
	height: 40px;
	float: left;
	padding: 20px;
}