//Body Content

.shell {
	max-width: 940px;
	margin: 0 auto;

	@include breakpoint(tablet) {
		width: auto;
		padding: 0 10px;
	}

	@include breakpoint(mobile) {
		width: auto;
		padding: 0 10px;
	}
}

.wrap {
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
}

.logo {
	height: 40px;
	padding: 20px;
	text-align: right;
}

.countdown {
	height: 40px;
	float: left;
	padding: 20px;
	padding-left: 10px;
	color: white;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.6em;

	span {
		color: #999;
	}

	@include breakpoint(mobile) {

		width: 100%;
	}

}


.messages {
	float: left;
	padding-left: 0;
	padding-right: 4%;
	width: 70%;
	// background: #444;

	@include breakpoint(mobile) {
		width: 96%;
		padding: 2%;
	}	

	.message {
		float: left;
		clear: both;
		color: white;

		&:first-child .icon {
			padding-top: 0;
			margin-top: 20px;
			.icon-inner {
				margin-top: -5px;
			}
		}

		.icon {
			width: 20%;
			float: left;
			min-width: 60px;
			text-align: center;
			background: url(../images/vertical.png) repeat-y center;
			padding-top: 20px;
			// min-height: 400px;

			.icon-inner {
				margin: 0 auto;
				background: $orange;
				// border: 3px solid #888;
				width: 60px;
				height: 60px;
				border-radius: 60px;
				line-height: 60px;
				text-align: center;

				@include box-shadow(0px 0px 20px 3px rgba(0,0,0,0.34));

				i {
					font-size: 2em;
					vertical-align: middle;
					color: white;
					// font-size: 4em;
				}
			}

			@include breakpoint(mobile) {
				min-width: 50px;
				.icon-inner {
					width: 50px;
					height: 50px;
					border-radius: 50px;
					line-height: 50px;

					i {
						font-size: 1.6em;
					}
				}
			}
		}

		.copy {
			float: left;
			width: 80%;
			padding-top: 35px;

			h1, h2, p {
				margin: 20px 0;
			}

			h1 {
				font-size: 1.6em;
				margin-top: 0px;
			}
			h2 {
				color: #999;
				font-size: 1.2em;
			}

			p {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1em;
				line-height: 1.4em;
			}

		}

		&:first-child .copy {
			padding-top: 30px;
		}
	}
}