//Body Content

.shell {
	max-width: 940px;
	margin: 0 auto;

	@include breakpoint(tablet) {
		width: auto;
		padding: 0 10px;
	}

	@include breakpoint(mobile) {
		width: auto;
		padding: 0 10px;
	}
}