@import "compass";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,100);
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic);

@import "compass/reset";


@import "mixins";

body {
	font-family: Montserrat;
	background: #222222;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
 	position: relative;
 	z-index: 1;
}

a {
	text-decoration: none;
}

@import "header";
@import "nav";
@import "body";
